<div class="jumbotron">
  <%= if @current_user do %>
    <h2>Welcome <%= @current_user.name %>!</h2>
  <% else %>
    <h2>Welcome Guest!</h2>
  <% end %>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>
